body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.wiz {
    display: grid;
    place-items: center;
    min-height: 70vh;
    position: relative;
    
}

.eyes {
    width: 7rem;
    transform: translateY(-3rem);
}

.eyes, .eye, img {
    position: absolute;
}

.eye {
    display: inline-block;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}


.left, .right {
    right: 50%;
}

.left {
    right: 74%; 
}

.right {
    left: 50%;
}


.gen {
    position: absolute;
    transform: translateY(237px);
    border: none;
}

.number input[type="number"] {
    width: 50px;
    text-align: center;
} 

.btns {
    display: flex;
    justify-content: space-between;
}

.length {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#length {
    width: 100px;
    padding-left: 1rem;
    margin-left: 1rem;
}

textarea {
    width: 100%;
    padding: 1rem;
    text-align: center;
    border: 2px dashed #c0c7cf;
    border-radius: 6px;
    overflow: hidden;
}

.chars {
    border-bottom: 2px dashed #c0c7cf;
}

.macondo-regular {
    font-family: "Macondo", cursive;
    font-weight: 400;
    font-style: normal;
  }

  