:root {
    --drk: #1C1733;
    --deep: #3F3249;
    --mid: #6C6A77;
    --pop: #9ECAD9;

}

body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.wiz {
    display: grid;
    place-items: center;
    min-height: 65vh;
    position: relative;
}

.eyes {
    width: 7rem;
    transform: translateY(-3rem);
}

.eyes, .eye, img {
    position: absolute;
}

.eye {
    display: inline-block;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}


.left, .right {
    right: 50%;
}

.left {
    right: 74%; 
}

.right {
    left: 50%;
}


.gen {
    position: absolute;
    transform: translateY(237px);
    border: solid .3rem var(--drk);
    color: var(--drk);
}

.number input[type="number"] {
    width: 50px;
    text-align: center;
} 

.btns {
    display: flex;
    justify-content: space-between;
}

.length {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#length {
    width: 100px;
    padding-left: 1rem;
    margin-left: 1rem;
}

textarea {
    width: 100%;
    padding: 1rem;
    text-align: center;
    border: 2px dashed var(--deep);
    border-radius: 6px;
    overflow: hidden;
}

.chars {
    border-bottom: 2px dashed var(--deep);
}

.macondo-regular {
    font-family: "Macondo", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  .form-check-input {
    border-color: var(--mid);
  }

  .form-check-input:checked {
    border-color: var(--pop);
    background-color: var(--pop);
  }

  #generate {
    background-color: var(--drk);
    border-color: var(var(--drk))
  }

  #copy {
    background-color: var(--pop);
    border-color: var(--pop)
  }
